re==2.2.1
platform==1.0.8
pkg_resources._vendor.appdirs==1.4.3
pkg_resources.extern.appdirs==1.4.3
pkg_resources._vendor.packaging.__about__==21.2
pkg_resources._vendor.packaging==21.2
pkg_resources.extern.packaging==21.2
logging==0.5.1.2
pkg_resources._vendor.pyparsing==2.2.1
pkg_resources.extern.pyparsing==2.2.1
telegram._version==21.9
tzdata==2024.1
pytz==2022.1
json==2.0.9
cryptography.__about__==44.0.0
cryptography==44.0.0
httpx.__version__==0.28.1
urllib.request==3.10
ipaddress==1.0
idna.package_data==2.10
idna.idnadata==13.0.0
idna==2.10
httpx._client==0.28.1
click==8.1.7
pygments==2.11.2
httpx==0.28.1
six==1.16.0
bcrypt.__about__==3.2.0
bcrypt==3.2.0
telegram==21.9
cachetools==5.3.3
urllib3._version==1.26.5
urllib3.packages.ssl_match_hostname._implementation==3.5.0.1
urllib3.connection==1.26.5
urllib3==1.26.5
chardet.version==3.0.4
chardet==3.0.4
charset_normalizer.version==3.3.2
charset_normalizer==3.3.2
requests.packages.urllib3._version==1.26.5
requests.packages.urllib3.packages.ssl_match_hostname._implementation==3.5.0.1
requests.packages.urllib3.connection==1.26.5
requests.packages.urllib3==1.26.5
requests.packages.idna.package_data==2.10
requests.packages.idna.idnadata==13.0.0
requests.packages.idna==2.10
requests.packages.chardet.version==3.0.4
requests.packages.chardet==3.0.4
certifi==2020.06.20
requests.__version__==2.32.3
requests.utils==2.32.3
requests==2.32.3
